body, html {width: 100%; height: 100%; margin: 0; padding: 0}
.voice {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 40px;
    cursor: pointer;
};

.div1{
    width: auto;  
    text-align: center;  
    padding: 15px;  
    border: 10px solid red;
}
/*img{
    max-width: 100%;  
    height: auto;  
}
body {
    background-image: url("https://raw.githubusercontent.com/ibm-build-lab/Watson-Assistant/main/voice-over-watson-assistant/WatsonAvatar_3D_1920x1080-08ef8e970e75b5b1062ae94760265bff.gif");
    background-color: #cccccc;
    min-height:100%;
    background-size:cover;
    background-blend-mode: multiply;
   }*/
